<ion-view cache-view="false" view-title="" >
	<ion-nav-bar  class="bar-clear">
		<ion-nav-buttons side="left">
			<img ng-src="img/telnet.png" style=" "  height="45">&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
        </ion-nav-buttons>
		<ion-nav-buttons side="right" >
		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content class="no-header" style="top: 0;background: url('http://{{background}}'),url('img/fondo.jpg')no-repeat center center fixed;  
		-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;" overflow-scroll="false">
		<br><br><br><br>
		<p class="label_general">Llevar</p>
		<br>
		<div style="text-align:center;">	
			<div style="text-align:center;margin-top:20px;" ng-if="manejaNombreMesa">
			<p style="font-size:30px;text-align: center;color:#fff;margin-bottom:20px;">Nombre de mesa</p>
			<input type="text" placeholder="" style="width:102%;border-radius: 18px;font-size:18px;text-align: center;"  ng-model="data.nombremesa">
		</div>
			<a class="button clasificaciones" style="color:#fff!important;border-color:#fff!important;" 
			ng-click="getNotaNew()"> Nueva </a>	
			
		</div>		
		<br>	
		<div ng-repeat="notallevar in notasllevar" style="color:#000;margin-bottom:20px;text-align:center;">
				<div class="row" ng-if="$even&&getFila($index,2)" style="text-align:center;">	
					<p class="notallevar" ng-if="notallevar.numero!=null" ng-click="getNota(notallevar)">
						{{notallevar.numero}} {{notallevar.nombremesa}}  </p>	
					<p class="notallevar" ng-if="notasllevar[$index+1].numero!=null" ng-click="getNota(notasllevar[$index+1])">
							{{notasllevar[$index+1].numero}} {{notasllevar[$index+1].nombremesa}} </p>
		
				</div>
			</div>	
	</ion-content>
</ion-view>
		